[2020-09-02 22:31] timyardley opened #13 "Solidify authentication process"
**Is your feature request related to a problem? Please describe.**
Beta launch doesn't have the ability to authenticate a user yet

**Describe the solution you'd like**
Change stubbed github auth for development team into formalized github auth to prepare for beta launch.

**Additional context**
Would also be useful to have the authenticated user profile linked in to the authentication as well.

[2020-09-02 22:32] timyardley opened #14 "Favorite and Rating"
**Is your feature request related to a problem? Please describe.**
Right now favoriting an item is stubbed only, and is not logged or maintained anywhere.

**Describe the solution you'd like**
Tie the mockup to the backend, as the backend is exposed.

**Additional context**
Backend functionality does not yet exist.

[2020-09-02 22:33] timyardley opened #15 "Comments"
**Is your feature request related to a problem? Please describe.**
Comments are currently mocked with lorem ipsum text

**Describe the solution you'd like**
Map the mocked capability to the backend.

**Describe alternatives you've considered**
Eventually we want to move to using something like discourse instead probably, but likely not in the immediate term.

**Additional context**
Backend interfa

[2020-09-02 22:36] timyardley opened #16 "Categorization"
**Is your feature request related to a problem? Please describe.**
Right now items are only returned based on the search terms. Users will need a way to pull different categories of items

**Describe the solution you'd like**
At least with search, we should have the ability to specify a category that we want to query on. This means that we need to be able to fetch the categories and add another se

[2021-04-07 19:21] #13 closed, assigned to nobody

[2021-04-07 19:21] #14 closed, assigned to nobody

[2021-04-07 19:21] #15 closed, assigned to nobody

[2021-04-07 19:21] #16 closed, assigned to nobody

[2021-06-11 20:00] vivekkarne opened #33 "Read more functionality doesnt work on searcch-frontend-local-dev container"
**Describe the bug**
After searching for an artifact when we click on read more to get the complete information, it tried to load the artifact but then gives a Error loading message.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:3000/search
2. Search for ciphertext as keyword
3. Click on read more of first result, gives a Error loading message
4. See error

**Expecte

[2021-06-11 20:10] vivekkarne opened #34 "Add review/rating doesnt send any backend request on the searcch-frontend-local-dev docker setup"
**Describe the bug**
Add review button doesn't add a review/rating.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:3000/search
2. Search for ciphertext and locate the first artifact, click on the comment icon on the bottom left corner
3. Enter a review and press send review
4. No request is sent when network section is analyzed with dev tools.
5. Similar behaviour for

[2021-06-11 20:23] vivekkarne opened #35 "Adding an article to favourites sends post request with userid: null"
**Describe the bug**
Adding an article to favourites  using the heart icon sends a post request with userid: null

**To Reproduce**
Steps to reproduce the behavior:
1. Login to the localhost:3000 search frontend website using github
2. Search for an artifact and click on favourite icon
3. Use dev tools to observe the request, it sends userid param as null

**Expected behavior**
Artifact must be ad

[2021-06-18 16:57] timyardley commented on #33
Fixed in commit 9ad1864a363d9116aa9a3f88020fcb25da5cf8ea, will merge in soon

[2021-06-18 16:57] #33 closed, assigned to nobody

[2021-07-23 22:52] timyardley commented on #35
resolved

[2021-07-23 22:52] #35 closed, assigned to nobody

[2021-07-23 22:52] timyardley commented on #34
resolved

[2021-07-23 22:52] #34 closed, assigned to nobody

[2021-08-13 12:14] lauratinnel opened #39 "UI enhancement: change the way "artifacts that I own" are displayed"
**Need way to view the list of artifacts that I "own"**
Right now, there is no way to view the list of artifacts that a user has imported (or taken ownership of, once implemented). Suggest we add an item to the left menubar: My Artifacts, that mirrors other pages but displays the list of artifacts that I own.

[2021-08-16 15:38] eeide opened #41 "bug: Internal server error while editing user profile"
**Describe the bug**
On the "Manage Account" page https://hub.cyberexperimentation.org/profile — if I delete the initial empty affiliation, I get an "Internal Server Error" with status code 500.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://hub.cyberexperimentation.org/profile
2. Click on X in the iniial empty affiliation: '( (X))"
3. See error

**Expected behavior**
I expect

[2021-08-18 01:31] timyardley commented on #39
The current view of this is accessible on your profile page by clicking on Manage Account. Look under your profile at the tab group card with headings Artifacts, Ratings, and Favorites.

[2021-08-18 13:17] lauratinnel opened #42 "Admin Interface: ability to unpublish/modify/republish artifact"
Add the ability to, through the admin interface, edit a published artifact. This could be implemented by giving the admin the ability to toggle the publish bit on a single artifact: un-publish, edit, re-publish. This will allow us to quickly hot patch an artifact's hub entry as we work to get good, clean data in this initial phase.

Note: We may want to keep this for future use but by policy shoul

[2021-08-18 14:06] lauratinnel opened #43 "Admin Interface: add ability to view only unpublished artifacts"
Admin interface allows admins to filter and view only published artifacts. We need the same for unpublished artifacts.

[2021-08-18 16:42] lauratinnel opened #44 "Create/publish guide to artifact import best practices"
Begin with Tim's https://github.com/ITI/releasing-experiment-artifacts

Refine to include:
- Discussion of different artifact types
- Guidance on relationships
- Guidance on keywords
- Guidance on packaging for (e.g.) github -- inc. README.md files
- Templates for different types of artifacts (e.g., software that implements a research algorithm vs. infrastructure such as traffic generators)

[2021-08-18 16:53] lauratinnel commented on #39
The view doesn't work in a useful way for people with large numbers of artifacts. It looks more like an editing history, and all dates are the same, so there's no sorting of the most recent to the top, etc.

<img width="914" alt="Screen Shot 2021-08-18 at 12 51 16 PM" src="https://user-images.githubusercontent.com/3372750/129939507-03d5b612-d3f0-40fb-9a91-a0543064ef3c.png">

[2021-08-18 16:58] lauratinnel opened #45 "Condense Artifact Types"
Change artifact types from:

- dataset (OK)
- executable (<< covered by code)
- methodology (<< level?)
- metrics (<< level?)
- priorwork (<< relationship to another artifact)
- publication (OK)
- hypothesis (<< level?)
- code (OK)
- domain (<< attribute on an artifact)
- supportinginfo (<< relationship to another artifact)

To:

- publication
- presentation
- dataset
- software
- other

This will

[2021-08-18 16:59] lauratinnel commented on #45
Issue resolved. Just posting here for posterity/history. Closing.

[2021-08-18 16:59] #45 closed, assigned to timyardley, carboxylman

[2021-08-18 17:10] lauratinnel opened #46 "Change artifact relationships to support additional and reverse (two-way) relationships"
Change artifact relationships to support additional and reverse (two-way) relationships.

Currently supported relationships:
- cites
- supplements
- continues
- references
- documents
- compiles
- publishes

New relationships:
- cites
- cited by
- supplements
- supplemented by
- extends
- extended by
- uses
- used by
- describes
- described by
- requires
- required by
- processes
- processed by
-

[2021-08-18 17:13] lauratinnel opened #47 "UI enhancement: automatically display reverse relationships"
If a user imports an artifact using a one-way relationship, the system should automatically create and display the reverse relationship between the two related artifacts.

E.g.,

Paper1 cites Paper 2 << user entered
Paper2 cited by Paper1 << system created

How this is implemented is TBD and up to the development team. Two approaches have been discussed:
- Importer automatically creates the static

[2021-08-18 17:49] carboxylman commented on #46
I haven't thought much beyond my prior comments in slack, but I still think that we don't want to have trivial cycles in the data model itself.  The model does permit cycles; but they have to be explicitly created, and that promotes easier reasoning over the graph, as well as attribution.

The frontend can display both directions if we just give it a little bit more data, and I think that achieves

[2021-08-18 17:52] lauratinnel commented on #46
My suggestion is that these are explicitly created, but I separated that out into a separate issue because it might take longer to implement.

[2021-08-18 17:53] lauratinnel commented on #46
The other question is: should we allow users to create BOTH directions (they could really screw up the model), or do we only let them create one direction and let the system enforce the reverse so we know it's correct?

[2021-08-18 18:01] lauratinnel opened #48 "UI Change: how relationships are displayed"
Right now, relationships are displayed using the artifact ID number which isn't very meaningful. We need to rethink how we display these relationships -- perhaps in a list and using the artifact title -- so it is more meaningful to the user.

We may need to also have the ID in the event that there are duplicate titles in the system, although under the covers, if a user clicks on the relationship,

[2021-08-18 18:09] carboxylman commented on #43
The backend filter params already accept this style; I just was in a hurry with the admin iface.  In this case, if you set `?published=1`, you receive only published artifacts; if you set `?published=0`, you receive only unpublished; if you don't set the param, publication state is not filtered.

[2021-08-18 18:18] carboxylman commented on #46
Given that the frontend can display both directions seamlessly even if the trivial reverse cycles are not explicit in the model, what is the need for the reverse cycles be explicit in the model?  I don't see any upside; but I see downside (extra tracking for the backend to add/update/delete the reverse direction; cycles that complicate reasoning; inability to attribute who created the relationship

[2021-08-18 18:29] lauratinnel commented on #46
I was assuming it would be trivial if the importer is handed a relationship to do a table lookup for the reverse and just add that. I was also assuming it would be much more difficult to dynamically generate the reverse relationship in the front end. BUT. I'm not going to prescribe how it is implemented because I don't understand exactly how things are implemented under the covers. I just think we

[2021-08-18 22:07] timyardley commented on #39
It doesn't work for your use case, but it does work. The bug of the date has been resolved and the list is now sorted in reverse chronological order rather than as the system returns.

a future feature will be considered for a different view on this.

[2021-08-18 22:21] #43 closed, assigned to timyardley

[2021-08-18 22:31] timyardley commented on #41
@carboxylman let me know if the backend change addresses this, if not, we'll work out a switch to the frontend to ignore it

[2021-08-18 22:35] timyardley commented on #42
@carboxylman admin bypass should satisfy this, commit cf6445fc50c2eb445514206116cde97a9f12ab04 preps the frontend admin side for it, let me know if more is needed beyond that

[2021-08-18 23:57] #47 closed, assigned to carboxylman

[2021-08-18 23:57] timyardley commented on #47
note, backend was changed to support this.

[2021-08-18 23:58] timyardley commented on #46
new types implemented. you define the forward relationship and the reciprocal is automatically handled for you.

[2021-08-19 00:02] timyardley commented on #46
reopen until data migration addresses
continues -> extends
references -> cites
publishes -> uses

[2021-08-19 01:32] lauratinnel commented on #42
Changed title to reflect what is really needed: admin ability to edit a published artifact. HOW it is implemented is a decision for the dev team.

[2021-08-19 04:34] carboxylman commented on #41
Fixed.  I fear the long-term consequences of decoupling the new `UserAffiliation` object completely from `Affiliation`; it does an end-around the data model's object reuse pattern; but that was the only reasonable way forward for now, all things considered.  We could not sanely reuse `Affiliation` as I had hoped (e.g. with a simple UserAffiliation = (User,Affiliation)), because that led to a bug-p

[2021-08-19 04:34] #41 closed, assigned to carboxylman

[2021-08-19 04:37] carboxylman commented on #46
Question, why are we getting rid of `publishes` ?  That seems to me a reasonable relation whose meaning is more specific than `uses` and relevant to the community.  I agree with adding `uses` so that we cover some extra cases, and we had agreed to that in a previous team meeting, and it is in the importer (just didn't make it to backend I think).

[2021-08-19 10:58] lauratinnel commented on #46
Give me an example of an artifact that actually publishes another artifact. Software doesn't publish data. Papers don't publish software. An author publishes something. A conference publishes something. Authors and conferences are not artifacts. And worse, a publishes relationship is confusing when we have a primary artifact type "publication".

[2021-08-19 14:09] lauratinnel commented on #46
We could get rid of "uses" and just use "describes". A publication describes software and datasets. We already have "describes" so "uses" may be redundant.

[2021-08-19 17:19] carboxylman commented on #46
I agree that those are examples of "publish", yes, but the definition is as broad as publicly announcing something, and that is my use case here.  Some pubs use or reuse software (esp follow-on or competitor/peer works, so either "use" or "extend" there); some pubs announce it, originate it, describe it; they are the root.  The root is the relationship I was trying not to lose in a publish -> uses

[2021-08-19 17:22] lauratinnel commented on #46
OK. Sure. That seems reasonable.

[2021-08-19 18:29] carboxylman commented on #42
Backend now allows this kind of direct edit; changes mtime; does not change original publication metadata.

Once we have versioning, we should probably remove this ability.

[2021-08-19 18:29] #42 closed, assigned to timyardley, carboxylman

[2021-08-20 00:07] #46 closed, assigned to timyardley, carboxylman

[2021-08-30 16:51] lauratinnel commented on #44
Done.

[2021-08-30 16:51] #44 closed, assigned to timyardley, lauratinnel

[2021-08-31 16:22] jelenamirkovic opened #51 "UI issue: clarify in role dialogue that multiple authors should be specified separately"
**Describe the bug**
When inputting a new role (new author for manual artifact import) it is unclear to user how to input multiple authors

**To Reproduce**
Steps to reproduce the behavior:
1. Go to manual artifact import
2. Click on + for the role
3. Dialogue doesn't make it clear if one can input multiple authors on the same line, like one would for a paper

**Expected behavior**
A line of guida

[2021-08-31 17:01] lauratinnel commented on #51
Updated the FAQ and also the best-practices document (searcch.cyberexperimentation.org/best-practices) to clearly state that each author is to be added separately using the + button.

[2021-08-31 17:01] #51 closed, assigned to lauratinnel

[2021-09-28 15:40] eeide opened #67 "Add link from hub to the CCRI-VO website"
**Describe the solution you'd like**
At an appropriate place in the SEARCCH hub website, add a link to the CCRI-VO website, https://www.ccrivo.org/

Maybe at the bottom of the front page and in the FAQ, add something like this:

**Background**
NSF has funded a "CCRI Virtual Organization" (CCRI-VO). As described at its website, https://www.ccrivo.org/about/

Eric Eide is a current member of the the

[2021-10-12 19:06] lauratinnel opened #76 "Display contents of readme.MD file for artifacts of type data (Source: BETA Test)"
readme.MD only shows up for code. Needs to show up for data.

[2021-10-12 20:27] eeide commented on #76
Do you mean that the importer doesn't capture the contents for `README.md`? Or do you mean that the front end does not display it? (Or both?)

[2021-10-12 20:28] lauratinnel commented on #76
The front end doesn't display it.

[2021-10-12 20:37] lauratinnel opened #89 "Enhanced Error Handling"
catch all errors and display user friendly error messages.

Error messages are not user friendly or intuitive.

[2021-10-12 20:39] lauratinnel opened #90 "Fix Broken Relationships in DB (Source: BETA Test)"
The database has a number of broken relationships. When a user clicks on the relationship, it doesn't work correctly. Check for these and fix manually.

[2021-10-12 20:43] lauratinnel opened #91 "Change Login Screen Text (Source: BETA Test)"
Change login button to "login via Github" so it's clear.

What if someone doesn't have Github account? (LT: We don't worry about this part of the comment now)

[2021-10-12 21:12] lauratinnel opened #92 "Make github permissions explicit during account creation (Source: BETA Test)"
Thinks it would be better to explain Github permission rules during account creation rather that in the FAQ. People will likely just go to account creation without reading the FAQ.

[2021-10-12 21:16] lauratinnel opened #93 "Update FAQ to explain how artifacts get into the hub (Source: BETA Test)"
The Google metaphor goes a bit too far.
"We should explain that we are not crawling anything, they have to submit artifacts"

[2021-10-12 21:18] lauratinnel opened #94 "Add Link to Best Practices on Left Hand Side (Source: BETA Test)"
Add a link to the Best Practices guide for artifact curation on the left hand side, next to the FAQ link.

https://searcch.cyberexperimentation.org/best-practices

[2021-10-12 21:59] eeide opened #95 "Search Artifacts UI: "Back to Top" button can occlude "Read More" button"
**Describe the bug**
On the "Search Artifacts" page, the "Back to Top" button can cover up the "Read More" button for an artifact. See the attached screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to "Search Artifacts"
2. Search for "stackdb"
3. Scroll the window content down to the bottom
4. See error

**Expected behavior**
The window content would scroll up enough so that the

[2021-10-13 11:23] lauratinnel opened #96 "Importer creates duplicate keywords for DOIs"
**Describe the bug**
When importing from a DOI, the importer creates/suggests duplicate keywords with different cases (e.g., "Test" and "test").

**To Reproduce**
Steps to reproduce the behavior:
1. From the SEARCCH importer, import "https://dl.acm.org/doi/pdf/10.1145/3474718.3474726"
2. Click on Edit
3. Look at the keywords extracted

**Expected behavior**
Importer should filter keywords using a

[2021-10-13 11:28] lauratinnel commented on #96
Actually, it's creating duplicates even with the same case.

[2021-10-16 15:19] hardiksurana commented on #67
PR: https://github.com/ITI/searcch/pull/98

[2021-10-29 15:17] lauratinnel commented on #93
Added FAQ question to address this.

[2021-10-29 15:17] #93 closed, assigned to lauratinnel

[2021-10-30 23:17] #67 closed, assigned to nobody

[2021-11-01 17:54] lauratinnel commented on #90
Discussion on Slack 11/1/2021

Laura Tinnel  1:11 PM
When I was cleaning up duplicates, I wound up creating a situation where there was a dangling relationship. I was able to create the correct relationship (to the remaining artifact) and delete the other. I'm just trying to identify any other dangling relationships so I can manually clean them up.

David Johnson  1:14 PM
Due to the way we use for

[2021-11-01 17:55] lauratinnel commented on #90
I think if there are any more of these, they will be rare. We could just wait for someone to report a broken link and then manually fix it. Setting priority to low so we can watch for a while.

[2021-11-02 04:35] carboxylman commented on #96
Yes, believe it or not, that was intentional, but it is far too overwhelming to remove all the duplicates.  We are already storing the exact kw/rank info as metadata, so we don't need to promote duplicates.  Fixed in https://gitlab.flux.utah.edu/searcch/importer/-/commit/72d442b643a1c6cb7dd449fdb5a92f69aec0247a ; no duplicates are allowed; first case wins.

[2021-11-02 04:35] #96 closed, assigned to carboxylman

[2021-11-08 19:33] timyardley commented on #94
this is resolved in beta-fixes branch

[2021-11-08 19:33] #94 closed, assigned to timyardley

[2021-11-08 19:37] timyardley commented on #91
addressed in commit eb0e83d74aae29b5d3d07cc2c62afe6dd625bac5

[2021-11-08 19:37] #91 closed, assigned to timyardley

[2021-11-09 01:29] hardiksurana opened #99 "FE support for searching for users, artifacts and organizations"
1. Need to create a multi-select dropdown with options for **artifact**, **user**, and **organization**.
2. Pass the selected options under the **entity** list to the /artifact/search endpoint
3. Render the list of artifacts, users and/or organizations returned under separate headings/tabs in the UI.

[2021-11-22 18:44] carboxylman opened #100 "point out existing (possibly) duplicate published artifacts on import"
If user inputs a URL of an existing, published artifact, user should be warned and given a link to see if their goal is already met.  This can be a false negative if user is reusing said URL for an artifact of different type, but those cases should be rare.

[2021-11-23 00:30] carboxylman commented on #99
I split out author vs owner and made owner visible to admins only in 157a7006 .  Backend support in https://github.com/ITI/searcch-backend/commit/e317eabce3033caf2bd0af58a0d7fb1e2dc06bd7, https://github.com/ITI/searcch-backend/commit/5b5c377fff7ae63237ca3a3516bc2769ffe5877a, https://github.com/ITI/searcch-backend/commit/a5966397ae1c805e398cd747679178db18fad839 .

[2021-11-23 00:30] #99 closed, assigned to carboxylman

[2021-11-23 19:23] carboxylman commented on #95
I am not a vuetify nor css wizard, but IMO here are the reasonable possibilities:
  * center the "Back to Top" button
  * left-justify the Top button
  * left-justify the artifact action buttons (e.g. Read More)
  * remove the button

The list of artifacts is its own vue "card", and the button is in that component, so we cannot for instance move it into the navbar or the footer (cards/components f

[2021-11-23 22:25] carboxylman commented on #95
I addressed this in 38149f8.
![foo](https://user-images.githubusercontent.com/5054696/143138968-f7ac4c1d-b8d5-434e-8014-36246c8bc7ef.jpg)

[2021-11-23 22:27] carboxylman commented on #95
Let's see if this is "good enough"; reopen if not :)

[2021-11-23 22:27] #95 closed, assigned to carboxylman

[2021-11-24 00:34] lauratinnel opened #101 "Importer fails to import paper in ACM Digital Library"
**Describe the bug**
The importer supposedly supports DOIs pointing to the ACM Digital Library. Providing such a link fails with an error message saying a manual import is required.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Submit Artifact
2. Paste in "https://dl.acm.org/doi/10.1145/3474718.3474719" (no quotes)
3. Click "START IMPORT"
4. See error

**Expected behavior**
Importer

[2021-11-24 03:19] carboxylman commented on #101
I wasn't able to reproduce an error -- my import of that URL just got stuck in the pending state.  This was a new bug in the backend where the scheduler didn't get run on all status updates; fixed in https://github.com/ITI/searcch-backend/commit/66ef8cd9e74f7a259114c29ef6fdf09e968e9ab6 .

[2021-11-24 03:19] #101 closed, assigned to carboxylman

[2021-12-06 17:47] dpemmerich commented on #92
Maybe I am misunderstanding this. on https://hub.cyberexperimentation.org, if I click the "Github Login" button, it directs me straight to https://github.com login page. From that page, I can either login with my github account or create a github account. Since that page is actually owned by github, we cannot edit that page. So, we either don't do this, or we need our own login page that allows us

[2021-12-06 17:58] carboxylman commented on #92
I think the only piece we can change is to preface the `Github Login` button in our interface with details; or to change the descriptor text of our Github SSO "App" -- the piece that contains the SEARCCH logo.  Not sure how long the description can be for that.

But also note that Github already explains the permissions you are granting to the SEARCCH app when you click "Authorize", so I'm not sur

[2021-12-09 23:31] carboxylman commented on #76
Fixed in 6619ec6.

[2021-12-09 23:31] #76 closed, assigned to timyardley, dpemmerich

[2021-12-10 21:10] carboxylman opened #102 "show author email addrs in edit mode, if available"

[2021-12-10 21:12] carboxylman opened #103 "save search form inputs as well as results"
Right now, after searching for an artifact, clicking "Read More", and clicking "Back" saves your search results, but not your search form inputs.  So, we need to save the inputs too, so that iterative refinement is possible and retyping is unnecessary.  Of course, this will also necessitate a "clear form" widget, but that's easy.

[2021-12-10 21:14] carboxylman opened #104 ""start over" (backend bug) handler should reload current route"
Currently the `Start Over` link goes to the `About` route, or somthing.  We would ideally like to retry *if* at least the initial route load succeeded (if not, we don't want to loop, so have to redirect to somewhere safe).

[2021-12-10 22:27] lauratinnel opened #109 "Change default artifact type values for searches"
Having the default search be over just data and software is confusing users.

Change the default artifact type to all artifacts.

This came out during the 2021 ACSAC BoF.

[2021-12-10 22:32] lauratinnel opened #110 "Need improved search function workflow"
**Is your feature request related to a problem? Please describe.**
The current workflow for searching is not intuitive. When using the non-advanced search and just entering a keyword, people think it's searching everything when in fact it is only searching values in the description and title.

**Describe the solution you'd like**
Change the workflow as follows:

When using the simple search, perfo

[2021-12-10 23:11] carboxylman commented on #109
Fixed in 93eca5d.

[2021-12-10 23:11] #109 closed, assigned to carboxylman

[2021-12-10 23:50] carboxylman commented on #102
Fixed in 9809c6f.

[2021-12-10 23:50] #102 closed, assigned to carboxylman

[2021-12-11 13:13] lauratinnel opened #111 "Improvements for linking artifacts via relationships"
**Is your feature request related to a problem? Please describe.**
The set of relationships we have assumes you are adding the relationship on a publication or software artifact-- the system only has the set of forward > relations (cites, extends, supplements, describes, processes, produces, requires). We purposely limited the set to reduce the number of options a user must consider.

<img width="

[2021-12-11 13:30] lauratinnel opened #112 "Automated translation of pdf links for publications in arXiv"
**Is your feature request related to a problem? Please describe.**
When adding an artifact in arXiv.org, it is not clear which URL to use. Using the ﻿http://arxiv.org/pdf link results in an error. The system wants the ﻿http://arxiv.org/abs link.

**Describe the solution you'd like**
If the user submits the pdf link, automatically convert it to the ﻿http://arxiv.org/abs link. E.g.,

http://arxiv.or

[2021-12-11 20:10] carboxylman commented on #112
Fixed in https://gitlab.flux.utah.edu/searcch/importer/-/commit/3a484c72cb3d6a37a10a6308108a38cfcec7dd6e and https://gitlab.flux.utah.edu/searcch/importer/-/commit/f5ce608cdc1c815ca33e9ffd76c5cf3528808472.

[2021-12-11 20:10] #112 closed, assigned to carboxylman

[2021-12-11 20:46] carboxylman commented on #111
An initial blocker is that if the user is trying to use one of the inferred backwards relationships, they cannot do this if they do not own the "source" artifact.  So at a high level, this will not work with the current ownership model.  Users currently have no choice but to start adding a relationship from the artifact they own to another (which they may or may not own.  FWIW, we have already mud

[2021-12-11 20:54] carboxylman commented on #111
To support this kind of thing explicitly, we would need either the feature where a non-owner can make proposed edits and the owner can approve the edit.  Or change the ownership model.  Or drop the inferred reverse relationships and make them first-class relationships.  Even if that causes cycles, at least we know the users explicitly added them.

I'm honestly not sure which of these to consider t

[2021-12-20 22:29] dpemmerich commented on #92
There doesn't seem to be much we can change on the github login page directly in the github application settings.

![image](https://user-images.githubusercontent.com/23170883/146841184-0a72e94d-e38e-46cc-86bd-8c49f0618dbf.png)

[2022-01-28 22:11] dpemmerich opened #113 "Add button to "claim" ownership of an artifact"
Add a button that allows a user to "claim" an artifact. This is important in cases where someone else/a 3rd party imports an artifact that they are not owners of. For example, artifacts can be added by anyone even if they aren't owners. When the owner logs in and they see the artifact, they should be able to say it is theirs and tie it to them.

This button _*should not*_ automatically approve the

[2022-01-28 23:11] jelenamirkovic commented on #113
Agreed. If you make it send email to searcch@mailman.isi.edu I can easily create that mailing list and we can add/remove people as easily. The email should have a link to approve. When clicked, that link should take one to an API on searcch portal and approve the request. Similarly, there should be an option to deny the request, which should go to another API that would generate email to user that

[2022-01-28 23:19] lauratinnel commented on #113
OR we can use the official SEARCCH email domain. @searcch.cyberexperimentation.org. We probably shouldn't be using email addresses all over the place.

[2022-02-02 17:28] ckouder commented on #113
I'd like put the button in `KGArtifactLong` since the card contains a `role` section. So the user interaction should be like this:
1. A user enters `KGArtifactLong`
    1.  If no chips in `Role` section, a `claim ownership` button appears.
    2. If the `Role` section is not empty, a `claim role` button appears.
2. While clicking it
    1. If the user doesn't login, jump to login page.
    2. If t

[2022-02-02 20:57] dpemmerich commented on #113
how would you plan to track that they had made the request so it doesn't show up the next time they view the artifact?

[2022-02-02 21:33] jelenamirkovic commented on #113
You would need some field in DB to track

[2022-02-02 21:35] ckouder commented on #113
Can we store the request and its status in the back-end? So we fetch the record every time the user views the artifact. But that also means some works for back-end. I'm not sure if it is good.

In fact I care more about how to shoot an email. I could either make a `mailto:` link or a call to some third-party mailing services. Personally I prefer the latter since the content is more controllable. B

[2022-02-02 21:47] jelenamirkovic commented on #113
I think simple sendmail could send the mail from backend server.

On Wed, Feb 2, 2022 at 1:35 PM ckouder ***@***.***> wrote:

[2022-02-02 22:21] carboxylman commented on #113
@jelenamirkovic @dpemmerich I sent you guys a canned test email direct from the production backend via `dma`'s `sendmail`; did you receive it?  It made it to my accounts fine.

We probably should use a real SMTP host in our cyberexperimentation.org domain; we don't want to give isi.edu a bad rep; @lauratinnel do we have a way to send mail from that domain?

[2022-02-02 22:25] dpemmerich commented on #113
@carboxylman I have not seen the message. What address did you send it to?

[2022-02-02 22:27] carboxylman commented on #113
davidpe@illinois.edu

[2022-02-02 22:27] lauratinnel commented on #113
@carboxylman Yes. I may have to add the IP address of the server the domain to the DNS records as an authorized server so the server doesn't get blacklisted.

[2022-02-02 22:30] dpemmerich commented on #113
ok, I haven't seen it...it may have been picked up by our campus spam filter. I'll keep an eye out

[2022-02-02 22:59] jelenamirkovic commented on #113
I've received the message

On Wed, Feb 2, 2022 at 2:30 PM dpemmerich ***@***.***> wrote:

[2022-02-02 23:09] carboxylman commented on #113
@lauratinnel would it make things easier if we had a `searcch-portal-ops@cyberexperimentation.org` with real creds, so that the portal backend can just securely relay email through the domain's "trusted" SMTP path, make the headers as proper as possible?  We'll just drop the creds into `dma`'s config on the backends, and it can send all the "official" looking mail it wants.

[2022-02-02 23:12] lauratinnel commented on #113
I can make a primary email account rather than a forwarder, if that's what you prefer. As long as you can make it authenticate to the SMTP server, then that should be fine. I just can't leave it open to email without auth.

[2022-02-02 23:15] carboxylman commented on #113
From a sending perspective, we want a full account and I will make it auth, so if you send me those details when you have time, I will get it set up.  From a receive perspective, we probably want it to act like a mailing list that blasts out to all of us who "want" to be admins.  But the receive side could be left to another day...

[2022-02-03 15:13] dpemmerich commented on #113
I can confirm that the test mail @carboxylman sent was picked up by our campus spam filters.... so sending to me was technically successful

[2022-02-08 15:35] carboxylman commented on #113
From a backend and frontend perspective, this is a pattern we'll encounter a few times, but for now let's just add a table to track each kind of admin request, like claiming ownership here.  I don't think there will be enough approval-required requests to worry about generalizing.  In the current sqlalchemy model, that would look like

[code]

Backend APIs:
POST /requests/ownership { "artifact_id"

[2022-02-08 15:36] carboxylman commented on #113
@vivekkarne can you tackle that part?  I can help with the migration if you haven't done that before.

[2022-02-08 15:38] carboxylman commented on #113
And the corresponding thinking on the frontend:
  * claim button only shown to logged-in users
  * claim button disable if calling user has a pending request
  * not just a claim button -- but also something that collects a non-zero text input with a justification (we can relax this down the road if we ever get to automatic verification, but for all except the obvious cases, we're going to need so

[2022-02-08 17:05] jelenamirkovic commented on #113
I would just modify one thing. Assuming you meant "disable a claim button on any artifact if a given user has pending claim" I would not do this. A user may have several papers in our archive and wants to claim them all in one go. Of course, if you meant "disable claim button on a given artifact if someone has already claimed it or has a pending claim" then yes, we should do that.

[2022-02-08 17:10] vivekkarne commented on #113
Sure, I will be able to take this up.

[2022-02-08 23:33] carboxylman commented on #104
I had "backend bug" in the title; that was misleading.  This is not a backend bug; this is a frontend bug in the backend 500 bailout error handling case.

I just think that reloading the current route is the best approach if the route load was initially successful.  Could still lead to a loop, but odds are lower.

[2022-02-08 23:57] carboxylman opened #115 "add support for Venue objects"
A Venue is yet another "first class" piece of Artifact Metadata, that represents a place of publication or appearance.  We attempted to cover all know publication kinds that we could plausibly receive.  We want users to be able to attach one or more Venues to an Artifact, since an Artifact could be "published" or appear in multiple places.  This is important to be able to provide Venue-indexed lis

[2022-02-09 00:02] carboxylman commented on #89
We should make a focused effort to deal with additional cases on a per-call basis, to ensure everything is covered.  Just hard to elevate to high priority.  And for most things, the basic handling is in good shape.  I think the biggest problem is what to do about artifact editing errors.  That is an entire design discussion, and backend needs to provide more information.

[2022-02-09 00:14] carboxylman commented on #103
I have code for this that I haven't been able to complete...

[2022-02-09 00:17] carboxylman commented on #100
My thinking on this is that the backend POST /artifacts that accepts an import URL (etc) will expand to include another parameter, `force`.  If the URL is already imported and published, we will warn in this case and point to the existing artifact, and frontend can set force=1 if the user says, yes I really want to import.  Straightforward, I think?

[2022-02-09 17:32] lauratinnel commented on #113
Email address is: searcch.hub@cyberexperimentation.org.
SMTP server: mail.cyberexperimentation.org

Password will be sent via a separate channel.

Will you be hardcoding the TO email addresses, or do you want me to set this up to automatically forward to the right people? If the latter (which I would recommend so that all mailing destinations are managed in one place), please let me know the right

[2022-02-15 04:55] ckouder commented on #104
Fixed using `window.history.go(0)` in pull request #116

[2022-03-15 15:21] dpemmerich commented on #115
add venue box - include search for name/title based on title and abbreviation
if venue exists, show venue name as selectable
if venue does not exist, give option (press enter? click here? ...) to create new venue, and pop open expanded form for required details

[2022-03-15 16:30] dpemmerich opened #121 "improvements to related artifacts additions when adding relationships"
right now when adding a relationship, the user is only presented with search field. Vivek has added an api to the backend -https://github.com/ITI/searcch-backend/issues/31 to get recommended relationships. We should use that instead of the search box by default.

[2022-03-29 16:26] ckouder commented on #121
#122

[2022-04-01 21:43] #104 closed, assigned to ckouder

[2022-04-01 21:43] ckouder commented on #104
fixed in merge request #116

[2022-05-10 19:28] dpemmerich commented on #113
this is tied to this branch - https://github.com/ITI/searcch/tree/issue-113

[2022-05-12 23:35] carboxylman opened #130 "migrate to nuxt/auth v5"
We should migrate to nuxt/auth v5 so we can take advantage of its built-in support for refresh tokens (https://auth.nuxtjs.org/schemes/refresh).  This will allow us to stop hijacking the browser to force the user to redo the SSO login dance.

[2022-06-01 22:29] dpemmerich opened #132 "bottom information bar and left nav pane have some improper overlapping on smaller screen size"
**Describe the bug**
on a smaller screen, the lower info pane flows over the main area pane. additionally, the left nav bar flows over the lower information bar
<img width="801" alt="image" src="https://user-images.githubusercontent.com/23170883/171512172-ae8f60d1-797b-4f15-9d81-2e84e953d6f9.png">

**To Reproduce**
Steps to reproduce the behavior:
1. scroll to bottom of screen
2. shrink window dow

[2022-06-01 22:34] dpemmerich commented on #132
seems that the issue is noticed when you change the screen size after the page has loaded.
but also, the info bar does flow over the back to top button in the search artifacts page no matter if you start on a smaller screen or shrink it after loading

[2022-09-07 21:36] lauratinnel opened #138 "Add ORCiD field for users and authors"
ORCiD is becoming a standard for researchers.

In addition to email contact info, we should also support entering/saving an ORCiD for
1) user profiles
2) authors (when creating artifacts)

[2022-09-07 21:38] lauratinnel opened #139 "User objects as Authors"
When adding an author to an artifact, the system should look for users who match the author and allow a SEARCCH user object to be added as an author.

[2022-09-07 21:57] lauratinnel opened #140 "Add importer for Mendeley"
Mendeley has a bunch of cybersecurity related datasets. It would be helpful to have an importer for this repo.

“External systems are also able to query and download any published and valid dataset via the [Mendeley Data public API](https://api.mendeley.com/apidocs/docs).”

[2022-09-08 11:46] lauratinnel commented on #39
Suggest we just change this view to look the same as the ratings or favorites list.  Using the line going through the icons makes this look like an activity history, which it is not.

[2022-09-08 11:49] lauratinnel opened #141 "Move "Best Practices" directly to hub"
At present, the "Best Practices" menu item takes the user to the searcch.cyberexperimentation.org web site.

We should move this information directly to the hub.

[2022-09-08 11:56] lauratinnel opened #142 "FAQ text isn't responsive and splits words oddly when wrapping text"
**Describe the bug**
FAQ  window is too narrow, isn't responsive, and splits words oddly when wrapping text

**To Reproduce**
View the FAQ and look at "I have code, data, and other artifacts that are all from the same research. How should I submit those to the hub?". The word "research" is split as "resear" and "ch".

**Expected behavior**
Resizing the window should change the size of the text box

[2022-09-08 12:50] lauratinnel opened #143 "Adding file URL in edit more causes internal server error"
**Describe the bug**
When adding a file URL to the HAI dataset entry, I get code 500 "Internal Server Error"

**To Reproduce**
Steps to reproduce the behavior:
1. Go into Admin mode
2. Go to Artifacts
3. Select type "Dataset" and Owner "Tinnel"
4. Edit artifact 440 "HIL-based Augmented ICS (HAI) Security Dataset"
5. Click + under files.
6. Paste in "https://github.com/icsdataset/hai/blob/master/RE

[2022-09-08 16:34] lauratinnel opened #144 "Add importer for ACSAC"
ACSAC publishes in ACM DL, so we already have that.

Starting here: https://www.acsac.org/archive/
we need

1. Something that walks the page sub links (past events) looking for ACM DL entries and then automatically processes them if they don't already exist in the repo.

2. Something that reads / parses each of the artifacts pages (data on the artifact badges and links to the online/github repos).

[2022-09-08 17:19] lauratinnel commented on #142
Looks like the hub-dev has a responsive version of this page. But the line breaks are still off.

[2022-09-08 17:55] lauratinnel opened #145 "Update FAQ to address new identity authentication options"
Update question:
'I have code, data, and other artifacts that are all from the same research. How should I submit those to the hub?',

with answer:
'Generally, code and data should be packaged and submitted separately into logical components, unless the code is used to generate the data. The hub supports the ability to link artifacts that are related. Please see the <a href="https://searcch.cybere

[2022-09-08 18:26] lauratinnel opened #146 "Add importer for ScienceDirect (Elsevier)"
There is a wealth of articles with links to data, etc at sciencedirect.com. We should have an importer for this site.
E.g.,
https://www.sciencedirect.com/science/article/pii/S0167404821000262

[2022-09-09 17:28] lauratinnel opened #147 "Github importer needs improvements, can pull from provided metadata, if any"
**Describe the bug**
Importer repeated same author multiple times, and included what appeared to be the username portion of email addresses as additional authors. The organization was missing, and there's no way to edit the author to add it.

The license was specified twice in the README.md file (actually contradicted itself w/ two different licenses), but the importer didn't pick up a license at

[2022-09-09 17:30] lauratinnel opened #148 "Automated README.md display does not properly render embedded HTML"
Look at the README.md file here: https://github.com/icsdataset/hai
Then look at how it is displayed here: https://hub.cyberexperimentation.org/artifact/512

[2022-09-09 17:33] lauratinnel commented on #147
Note that I tried the same URL in hub-dev, and the importer fails...

[2022-09-09 18:30] carboxylman commented on #147
I tried to reproduce.  Comments:

If you click "EDIT" on the artifact, you will see there is no duplication.  Each email addr is different.  Importer includes all, even if given name is the same, to allow the user to pick the best one.

Not sure where you're suggesting the org to come from -- the github API?  the README prose itself in the "contributors" section?

As for edit, not sure how hard th

[2022-09-09 18:34] carboxylman commented on #139
Shouldn't the referenced user be able to veto this before it happens?  I would suggest an invite that the target user can either accept or reject.  Admins maybe can do it.

Either way, I think the first step is simply replacing one author with the current user making the changes.

[2022-09-13 19:43] carboxylman commented on #132
Fixed in #136 .

[2022-09-13 19:43] #132 closed

[2022-09-14 20:46] lauratinnel opened #149 "Publication Marked as "Reusable""
I see that the DOI points to a paper that has an artifacts badge on it. I'm just not sure what it means for a publication to be reusable. I think that actually it's the artifacts that are associated with the paper that are reusable, but when I click on the relationship to get the software, it does not have the artifacts badge. I think we need to "smartly" behind the scenes, move the badge to the c

[2022-09-14 23:24] lauratinnel commented on #113
This feature is now deployed on hub-dev. DavidJ & I tested it. I believe it is working correctly. It will need to be deployed to the projection environment.

[2022-09-14 23:32] tbenzel commented on #113
Great job! Thanks everyone!

Terry Benzel
Director Networking and Cybersecurity
Information Sciences Institute
University of Southern California

From: Laura S Tinnel ***@***.***>
Reply-To: ITI/searcch ***@***.***>
Date: Wednesday, September 14, 2022 at 4:25 PM
To: ITI/searcch ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [ITI/searcch] Add button to "claim" ownership of an artifact (Issue

[2022-09-15 10:03] lauratinnel opened #150 "Edit Mode: Add file URL Doesn't Enable SAVE/PUBLISH"
After taking ownership of a record and clicking on Edit New Version, the edit dialogue is displayed.
If you enter an additional file URL, the SAVE and PUBLISH buttons remain inactive.
Entering something in the description field activates these buttons, but then the README.md file is no longer displayed because the description field overwrites it.

The code should activate the SAVE/PUBLISH buttons

[2022-09-15 10:08] lauratinnel opened #151 "Edit Mode: Incorrect buttons diisplayed when edit is canceled"
**Describe the bug**
After taking ownership of a record and clicking on the

**To Reproduce**
Steps to reproduce the behavior:
1. Take ownership of a record
2. Go into "READ" mode on the object
3. Click "EDIT NEW VERSION"
4. Click "DELETE DRAFT"
5. EDIT button is displayed.

**Expected behavior**
EDIT NEW VERSION and REIMPORT NEW  VERSION buttons should be displayed.

[2022-09-15 10:20] lauratinnel opened #152 "Edit Mode: Unclean Exit Causes Weird State, Unclean Records"
**Describe the bug**
From My Artifacts, select Dsroche/Oblivisync and click READ MORE.

I was editing and canceling in a loop and at some point, the system didn't cancel the edit and the DISCARD button didn't display. At this point, I clicked on My Artifacts again and now that object is in my list twice. I suspect there's something about the state that didn't get closed correctly because I never h

[2022-09-15 10:22] lauratinnel commented on #152
Actually, now I am seeing that all edited artifacts are showing up in my artifacts list twice. Now I suspect the issue is actually that the artifacts list is not filtering on versions and is displaying every revision as a distinct record.

[2022-09-15 10:31] lauratinnel opened #153 "Alternate Edit Workflow results in "insufficient permission""
Cannot edit artifact by clicking EDIT from the My Artifacts list. SAVE and PUBLISH buttons are displayed, but when you click save, you get "insufficient permission to modify artifact".

This is a distinctly different workflow from first clicking "READ MORE" and then clicking "EDIT NEW VERSION", which also includes a "DELETE DRAFT" button.

The best and quickest fix is, I believe, to remove the EDI

[2022-09-15 10:34] lauratinnel commented on #152
I have confirmed that My Artifacts displays an artifact record for each revision of the artifact record.

[2022-09-15 10:45] lauratinnel opened #154 "Manage Account Artifacts list does not display claimed artifacts"
**Describe the bug**
I first noticed that the artifacts list under Manage Account does not match the list under My Artifacts (discrepancy).

On examination, it appears that the Manage Account list includes entries only for edited (revised) objects but not claimed artifacts.

Now that we have the My Artifacts list on the left side, it's not clear what the purpose of this list is. Same thing with fa

[2022-09-15 10:48] lauratinnel commented on #152
We do need to verify that if a user uses the back arrow and never saves the edited record, that the system isn't left in some weird state. I don't know what the DISCARD button actually does, so does not pushing it leave things in lala state?

[2022-09-15 10:58] lauratinnel opened #155 "User Change Email Address"
As researchers move between organizations, their email addresses change. Users should be able to change their email address in SEARCCH so that as they move, they can keep their SEARCCH account intact.

[2022-09-15 11:07] lauratinnel commented on #139
I'm more in favor of invites and pushing as much onto the community as possible. Admins should have the ability but the primary responsibility for creating complete records ought to be on the community.

I don't think that replacing an author with the current user makes sense. There is always the possibility that someone other than the author owns the record. E.g.,  I've imported a ton of artifact

[2022-09-16 14:52] carboxylman opened #157 "improve and verify markdown renderer"
We need to verify that our markdown renderer approach is XSS-safe, and possibly choose one that can render inline HTML instead of blockquoting.  Inline HTML is part of the commonmark standard, after all.  For a quick refresher on the risks, see https://github.com/showdownjs/showdown/wiki/Markdown's-XSS-Vulnerability-(and-how-to-mitigate-it) .

[2022-09-16 14:54] carboxylman commented on #157
https://github.com/icsdataset/hai is a good example artifact, since its README.md uses both inline HTML (table) and a standard markdown table.  Our current `vue-simple-markdown` doesn't render either.

[2022-09-16 22:52] carboxylman commented on #157
My preferred path to "solve" this is probably to move to `showdown` and sanitize its output (e.g. with https://www.npmjs.com/package/vue-sanitize) before render.  There is a vue2 showdown plugin (https://github.com/meteorlxy/vue-showdown/tree/v2/docs/guide) although upstream has moved to v3.  Or there is also https://www.npmjs.com/package/vue2-markdown-it .

[2022-09-16 22:53] carboxylman commented on #157
We should act on this urgently, since we are keeping the minimal-scoped SSO token in the browser in lieu of our own session cookies.

[2022-09-27 19:22] yashshah15 commented on #142
Can't reproduce the issue right now. Please reproduce if it reappears or if someone else can reproduce it. Closing it for now.

[2022-09-27 19:22] #142 closed

[2022-09-27 19:26] #121 closed

[2022-09-27 19:37] carboxylman opened #159 "add frontend support for search results sort"
(inspired by https://github.com/ITI/searcch-issues/issues/23)

Three sort "fields":
  * date
  * popularity (ratings + reviews + views)
  * rating

[2022-09-27 19:43] carboxylman commented on #153
@lauratinnel I believe I fixed this; can you please verify?

[2022-09-27 19:52] carboxylman commented on #157
Overlaps with https://github.com/ITI/searcch/issues/148

[2022-09-27 19:52] #113 closed

[2022-10-04 17:31] lauratinnel commented on #153
Is this pushed to the dev hub?

[2022-10-04 17:33] lauratinnel commented on #153
In hub-dev, I tried the above workflow and now I get a different error:

[code]

[2022-10-14 22:10] fallen-axe-shay commented on #159
Added the backend support in https://github.com/ITI/searcch-backend/pull/86.

[2022-10-17 22:00] carboxylman commented on #48
Close by https://github.com/ITI/searcch/pull/161, thanks @ckouder!

[2022-10-17 22:00] #48 closed

[2022-10-17 22:44] carboxylman commented on #157
@ckouder are you planning to follow the path I mentioned above (https://github.com/ITI/searcch/issues/157#issuecomment-1249920951), or have you found a different strategy?

[2022-10-17 23:47] ckouder commented on #157
I'll follow the path you mentioned. I think it's pretty straightforward

[2022-10-25 19:26] #159 closed

[2022-10-25 19:35] yashshah15 commented on #150
The issue is not reproducible. The save and publish buttons are displayed appropriately.

[2022-10-25 19:35] #150 closed

[2022-10-31 22:28] carboxylman commented on #157
Closed by @ckouder in PR #164 .

[2022-10-31 22:28] #157 closed

[2022-10-31 22:28] carboxylman commented on #148
Closed by @ckouder in PR #164 .

[2022-10-31 22:55] carboxylman commented on #148
@ckouder this maybe only half fixes this issue.  See https://hub-dev.cyberexperimentation.org/artifact/475 and compare to github markdown render: https://github.com/icsdataset/hai .  The markdown table isn't rendered, and the HTML table is rendered but seems to lack typical table borders and formatting (maybe because of our style sheet).  Maybe we need a special style sheet for inlined HTML in Mar

[2022-10-31 23:09] ckouder commented on #148
For the html table: I think the default table in showdown is borderless (see POC) - let me create some styles for it

For markdown: this is super weird because the table is correctly rendered in POC - I need to dive into the issue

[2022-11-08 21:50] ckouder opened #167 "Migrate NuxtJS 2 to NuxtJS 3"
Investigation the cost and requirements to migrate nuxtjs2 to nuxtjs3

[2022-11-08 22:06] carboxylman commented on #103
@ckouder here was my partial patch attempt at this:

[patch-save-search-inputs-diff.txt](https://github.com/ITI/searcch/files/9965598/patch-save-search-inputs-diff.txt)

[2022-11-14 00:49] ckouder commented on #167
## Incompatible dependencies
- [@nuxt/auth-next](https://v3.nuxtjs.org/community/roadmap#-core-modules) is not supported
- [@nuxt/axios](https://axios.nuxtjs.org/): has to use [fetchAPI](https://v3.nuxtjs.org/migration/component-options/#isomorphic-fetch) instead.
- [@nuxt/proxy](https://github.com/nuxt-community/proxy-module/issues/107): two substitutions [vite-proxy](https://vitejs.dev/config/#s

[2022-11-14 15:22] carboxylman commented on #167
Thanks, this is a great checklist for us.

[2022-11-28 22:45] ckouder opened #173 "Problem about rendering markdown tables inside HTML tags"
The problem David J mentions that markdown tables do not render in HAI artifact is caused by a renderer failure on markdown tables inside html tags. Here is an image to the source code that causes the failure:
<img width="1115" alt="image" src="https://user-images.githubusercontent.com/20468259/204394589-72bd35ab-d458-4593-875a-22f997e6d856.png"> And here is an image to the showdownJS official dem